{% include "header.html" %}
    <script type="text/javascript">
var refreshId1 = setInterval(function() {

$.getJSON( "/pdb-eventlog-data/", function( data ) {
  var items = [];

  items.push('<table class="table table-striped">');
  for (var key in data){
    items.push('<tr><td>' + data[key] + '</td></tr>');
  };
  items.push('</table>');

  $('#eventlog').empty();
  var div_data = items.join('');
  $(div_data).appendTo('#eventlog');

});
}, 2000);
    </script>
    <div class="container-fluid">
     <h1 style="text-align:center;">{{ error }}</h1>
     <p style="font-size:150%;text-align:center;">The last {{ eventlog_entries }} entries are displayed</p>
     <p style="font-size:150%;text-align:center;"><a href="/">Back to Homepage</a></p>
     <div id="eventlog" class="table-responsive"></div>
     <p style="font-size:150%;text-align:center;"><a href="/">Back to Homepage</a></p>
    </div>
{% include "footer.html" %}
