{% include "header.html" %}
<div class="container-fluid" id="title">
    <h1 style="text-align:center;">Report for ASN {{ asn }} - {{ asn_name }}</h1>
</div>
<div class="container-fluid" id="summary">
    <h2 style="text-align:center;">Total number of peering links<br/><span class="label label-default">{{ total_peering }}</span></h2>
    <h2 style="text-align:center;">Total number of unique IXP operators<br/><span class="label label-default">{{ total_unique_org }}</span></h2>
    <h2 style="text-align:center;">Total aggregated peering capacity<br/><span class="label label-default">{{ total_capacity_gb }} / {{ total_capacity_tb }}</span></h2>
</div>
<div class="container-fluid" id="peering_v46" style="text-align:center;">
    <h2 style="text-align:center;">Percentage of IPv4 and IPv6 peering</h2>
    <embed width="800" type="image/svg+xml" src="{{ peering_v46|safe }}">
</div>
<div class="container-fluid" id="report" style="text-align:center;">
<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="2"><p style="font-size:150%;text-align:center;">Public peering grouped by IXP name</p><p style="text-align:center;">Added and Updated columns will be highlighted when have changed in the last {{ days }} days.</p></th>
  </tr>
  </thead>

  <tbody>
  {% for ixp in peering %}
    <tr>
      <td style="width:10%;">{{ ixp[0] }}</td>
      <td style="width:90%;">

    <table style="width:100%;" class="table table-striped">
     <thead>
     <tr>
      <th style="width:10%;">Speed</th>
      <th style="width:10%;">Route Server</th>
      <th style="width:20%;">IPv4 address</th>
      <th style="width:20%;">IPv6 address</th>
      <th style="width:20%;">Added</th>
      <th style="width:20%;">Updated</th>
     </tr>
     </thead>
     <tbody>
     {% for peering in ixp[1] %}
     <tr>
      <td>{{ ixp[1][peering].speed }} Mb</td>
      <td>{{ ixp[1][peering].rs }}</td>
      <td>{{ ixp[1][peering].ip4 }}</td>
      <td>{{ ixp[1][peering].ip6 }}</td>
      <td {% if ixp[1][peering].created_warn %}class="warning"{% endif %}>{{ ixp[1][peering].created }}</td>
      <td {% if ixp[1][peering].updated_warn %}class="info"{% endif %}>{{ ixp[1][peering].updated }}</td>
     </tr>
     {% endfor %}
     </tbody>
     </table>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div class="container-fluid" id="ixp_stats" style="text-align:center;">
  {% for ixp in peering %}
    <embed width="920" type="image/svg+xml" src="/static/ixlan_{{ ixlan[ixp[0]] }}_number.svg">
    <embed width="920" type="image/svg+xml" src="/static/ixlan_{{ ixlan[ixp[0]] }}_capacity.svg">
  {% endfor %}
</div>
<div class="container-fluid" id="map_number" style="text-align:center;">
    <embed width="1840" type="image/svg+xml" src="{{ map_number|safe }}">
</div>
<div class="container-fluid" id="map_capacity" style="text-align:center;">
    <embed width="1840" type="image/svg+xml" src="{{ map_capacity|safe }}">
</div>
     <p style="font-size:150%;text-align:center;"><a href="/">Back to Homepage</a></p>
{% include "footer.html" %}
